
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">

    <h2>Index</h2>
    <h3>{{cantidadObjetos}} registros guardados</h3>

    <form>
        <div class="form-group">
            <label>Nombre Completo:</label>
            <input v-model="formulario.Nombre" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Fecha de Ingreso:</label>
            <input v-model="formulario.Fecha" type="date" class="form-control">
        </div>
        <div class="checkbox">
            <label>
                <input v-model="formulario.EnCarrera" type="checkbox"> Está en carrera
            </label>
        </div>
        <button v-on:click="agregar" type="button" class="btn btn-default">Agregar</button>
    </form>

    <br />
    <hr />
    <table class="table table-striped" v-if="formularios.length > 0">
        <thead>
            <tr>
                <th v-on:click="organizarpor('Nombre')">Nombre completo</th>
                <th v-on:click="organizarpor('Fecha')">Fecha de ingreso</th>
                <th>Está en carrera</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="f in organizados">
                <td>{{f.Nombre}}</td>
                <td>{{f.Fecha}}</td>
                <td><input type="checkbox" v-model="f.EnCarrera"></td>
            </tr>
        </tbody>
    </table>
</div>

<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/underscore.js"></script>
<script src="~/Scripts/requests.js"></script>
<script src="~/Scripts/app.js?ts=@DateTime.Now.Second"></script>